<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-register.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,900;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <header class="header">                      
        <div class = "top-header">
            <a href="/"><img class="logo-header" src= "/images/logo-mercado-liebre.svg" alt= "" ></a>
            <div>
                <input type= "text" placeholder="Buscar productos, marcas">  <i class="fas fa-search"></i> 
            </div>
            
            <h2 class="copy-header"> 
                <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
       

        <nav class="navbar">
            <ul type= "none" >
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul type="none" >
                <li><a href="/register">Creá tu cuenta</a> <i class="far fa-address-card"></i></li>
                <li><a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras</a> <i class="fas fa-shopping-basket"></i></li> 
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
    <form action="/registro" method="POST">
    <div class="form1-div">
        <input class="main-input" type="text" placeholder="Nombre y apellido">
    </div>
    <div class="form1-div">
        <input class="main-input" type="text" placeholder="Nombre de usuario">
    </div>
    <div class="form1-div"> 
        <p>Fecha de nacimiento</p>
        <input class="main-input" type="date">
    </div>
    
    <div class="form1-div">
        <input class="main-input" type="text"placeholder="Domicilio">
    </div>
    
    <div class="form1-div">
        <p><label for="perfil">Perfil de usuario</label></p>
        <input type="radio" name="perfil" value="Comprador"><label class="comp-vend">Comprador</label>
        <input type="radio" name="perfil" value="Vendedor"><label class="comp-vend">Vendedor</label>
    </div>
    <div class="form1-div">
        <div><label>Intereses</label></div>
        <div class="intereses-div"> 
            <div>
                <input type="checkbox" name="intereses" value="Electro">
                <label>Electro</label>
            </div> 
            <div>
                <input type="checkbox" name="intereses" value="Moda">
                <label>Moda</label>
            </div> 
            <div> 
                <input type="checkbox" name="intereses" value="Hogar">
                <label>Hogar</label>
            </div> 
            <div> 
                <input type="checkbox" name="intereses" value="Jugueteria">
                <label>Juguetería</label>
            </div> 
            <div> 
                <input type="checkbox" name="intereses" value="Vida-sana">
                <label>Vida sana</label>
            </div> 
        </div>
    </div>
    <div class="form1-div">
        <p>Foto de usuario</p>
        <input type="file" name="foto" accept="jpg">
    </div>
    <div class="form1-div">
        <input class="main-input" type="password" placeholder ="Contraseña"> 
    </div>
    <div class="form1-div">
        <input class="main-input" type="password" placeholder="Confirmar contraseña">
    </div>
    </form>

    <form action="/" method="GET" class= "form1-div">
       <button class="main-button" type="submit" value="ENVIAR" >ENVIAR </button> 
        <button class="main-button" type="reset" value="BORRAR" >BORRAR </button>
    </form>
</main>

    <footer class="seccion-footer">
        <article class="icono-footer">
            <div >
                <i class="fas fa-credit-card"></i>
            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p >Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="icono-footer">
            <div >
                <i class="fas fa-gift"></i>
            </div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p >Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="icono-footer">
            <div >
                <i class="fas fa-user-shield"></i>
            </div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegido.</p>
        </article>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>