* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    font-family: "roboto";
}

.buscador {
    height: 30px;
    border-radius: 5px;
    border:0px;
    width: 70%;
}
.header {
    background-color: #EAC926;
    padding: 15px;
}



.top-header{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    font-size: 12px;
}

.form-header{
    padding-top: 10px;
    width:50%;
    text-align: right;
}

.logo-header {
    height: 50px; 
    width:50%;
    margin-bottom: 15px;
}

.input-header{
display:block;
margin: auto;
}

.copy-header {
    text-align:center;
    font-weight: 400;
    font-size: 16px;
    margin: 15px 0px;
}

#lupa {
    font-size: 20px;
    position: relative;
    top: 5px;
}
.fa-search{
display:block;
}



a{
    text-decoration: none;
}

.fas {
    font-size: 12px;
}

.fa-bars {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size: 25px;
}


.burger-menu {
    max-width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #03264C;
    color: white;
    display: block;
    margin:auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align:center;
}

.navbar {
    display: none;

}

.navbar ul li a {
    color:black;
}
.banner {
    max-width:100%;
    background-color: #ebebeb;
}
h4{
    font-size: 24px;
    text-align: left;
    color: #666;
    padding: 15px;
}


.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
    color: green;
}

.descripciones {
    font-size: 16px;
    
}

.icono-footer {
    text-align:center;
    
}

.fa-gift{
    font-size:2em;
    color: blue;
}
.fa-user-shield{
    font-size:2em;
    color: blue;
}
.fa-credit-card{
    font-size:2em;
    color: blue;
}

main {
    background-color: #ebebeb;
    
}


section div article {
    position: relative;
}

main section div article i{
display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
bottom: 50px;
}

.seccion-main {
    max-width: 90%;
    margin: auto;
}

.seccion-main div {
    text-align:left;
    padding: 15px 0 10px 0px;
    border-top: solid 1px #ebebeb;
    margin: 10px 5px 0px 5px;
  
}

.fa-truck {
    color: green;
}

.seccion-main article {
    background-color: white;
    margin: 10px 5px;
    
}


img {
    max-width: 90%;
}

.seccion-footer {
    max-width: 96%;
    margin:auto;
}

.seccion-footer div {
    text-align: center;
}

.seccion-footer p{
    text-align: center;
    
}

.seccion-footer article {
    background-color: white;
    padding: 30px 0;

}

.icono-footer div {
    width: 100px;
    margin:auto;
}

@media (min-width: 361px) {

    main section div article i{
        
        position: absolute;
        right: 20px;
        bottom: 70px;
        }

        

   
    .seccion-main article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .seccion-main-div{
        display:flex; 
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
    }
    .seccion-main-div article {
        width: 45%;
}

}

@media (min-width: 768px) {

    #lupa {
        font-size: 20px;
        position: relative;
        right: 25px;
        background-color: white;
    }

    .top-header {
        display:flex;
        justify-content: space-between;
    }
    .form-header{
    text-align: center;
    }

    .copy-header {
        max-width: 350px;
        text-align: left;
    }

    .burger-menu{
        display: none;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
    }

    .navbar ul{
        display: flex;
        
    }
    
    .navbar ul li{
        color: black;
    }
    .navbar li{
        padding: 0 5px;
    }

    main section div article i{
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        bottom: 45px;
        }
}

@media (min-width: 1200px) {
    

    .descripciones{
        visibility: hidden;
    }
    
    main section div article:hover h2.descripciones{
        visibility: visible;
    }


    .top-header, .navbar {
        max-width: 1200px;
        margin: auto;
    }
    .navbar li{
        padding: 0 15px;
    }
    .copy-header {
        max-width: none;
        text-align: left;
        padding-left: 70px;
    }

    .seccion-main-div{
        display:flex; 
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
    }
    .seccion-main-div article {
        width: 20%;
}

.seccion-main-div article {
    width: 22%;
}

    main form input:hover .enviar {
        background-color: red;
    }

    .seccion-footer {
        display:flex;
        justify-content: space-around;
        flex-wrap:wrap;
    }

    .icono-footer{
        width: 400px;
    }
    #parrafo-footer{
        text-align: left;
        width: 100%;
    }

    footer article div:hover .fas {
        color: #39b54a;
    }

}


